.color{
	color:red;
}
aside section p{
	border: 1px;
	font-family: "comic sans"; 
}

p {
font-family: Arial;
font-size: 17px;
margin: 2px 5px;
padding: 5px;
border: 1px 2px 3px;
color: black;
}

header {
color: black;
font-weight: bold;
text-align: center;
}

aside section h4{
	text-align: 
}

header h1 {
	font-size: 2.2em
}

/*

selector {
	property: value;
}

*/